$heading-l: 40px;
$heading-m: 30px;
$heading-s: 25px;
$heading-xs: 20px;

$text-l: 15px;
$text-m: 13px;

$white: #fff;
$red: #f00;
$pink: #ffdddb;
$black: #1c1c1c;
$gray-1: #8f8e8b;
$gray-2: #e4e5e6;
$gray-3: #f4f4f4;
$turquoise: #159f9e;
