.header_wrapper {
  background-color: $white;
  display: block;
  height: 70px;

  a {
    color: inherit;
  }
}

.header_left_content {
  float: left;
  font-weight: bold;
  font-size: $heading-s;
  margin: 20px 0 0 40px;

  @include breakMobile {
    margin: 16px 0 0 16px;
    font-size: $heading-xs;
  }
}

.header_right_content {
  color: $turquoise;
  float: right;
  margin-top: 22px;
  margin-right: 30px;
  cursor: pointer;

  @include breakMobile {
    margin-top: 19px;
    margin-right: 16px;
  }

  p {
    display: inline-block;
    vertical-align: top;
    margin: 0;

    &.header_username {
      color: $black;
      margin-right: 30px;

      @include breakMobile {
        margin-right: 6px;
      }
    }
  }
}
