.stories_container {
  h2 {
    margin: 0;
    font-size: $heading-m;
    background-color: $black;
    color: $white;
    text-align: center;
    height: 180px;
    vertical-align: middle;
    line-height: 180px;
    font-weight: 300;
  }
}

.stories_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;

  @include breakMobile {
    padding: 0;
  }
}

.stories_flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;

  @include breakTablet {
    flex-direction: column;
  }
  @include breakMobile {
    flex-direction: column;
  }
}

.product_card {
  border: 1px solid $gray-2;
  width: 320px;
  height: 290px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &.image_right {
    @include breakTablet {
      .image_placeholder {
        float: right;
      }

      .product_description {
        float: left
      }
    }
  }

  &.image_left {
    @include breakTablet {
      .image_placeholder {
        float:left;
      }

      .product_description {
        float: right;
      }
    }
  }


  @include breakTablet {
    width: 100%;
    height: 320px;
  }

  @include breakMobile {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}

.image_placeholder {
  width: 100%;
  height: 220px;
  background-color: $gray-1;

  @include breakTablet {
    height: 100%;
    width: 50%;
  }

  @include breakMobile {
    height: 65vh;
    position: absolute;
    margin-top: 35vh;
  }
}

.product_description {
  width: 100%;
  height: 70px;
  padding: 10px;

  h4, p {
    margin: 0;
  }

  @include breakTablet {
    height: 100%;
    width: 50%;
  }

  @include breakMobile {
    height: 35vh;
    position: relative;
  }
}

.author_wrapper {
  margin-top: 5px;

  p {
    display: inline-block;
    vertical-align: top;
  }
}

.author_image_placeholder {
  display: inline-block;
  margin-right: 15px;
  border: 1px solid $gray-2;
  border-radius: 50%;
  background-color: $gray-2;
  width: 22px;
  height: 22px;
}

.add_story {
  color: $white;
  margin: 30px auto;
  display: block;
  border: none;
  width: 100px;
  height: 30px;
  background-color: $turquoise;
  font-weight: 600;
}

.story_card_rounded_button {
  background-color: $white;
  color: $turquoise;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
}
